/******************************************
    Version: 1.0
/****************************************** */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #ffffff;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(0,0,0);
		border-color: rgba(0,0,0);
		font-size: 17px;
	}	
	.navbar-dark .navbar-nav .nav-link{
		padding: 10px 15px;
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.in-box h2{
		font-size: 24px;
	}
	.in-box{
		padding: 20px;
	}
	.slider-img-full{
		height: 100%;
	}
	.slider-img-full img{
		height: 100%;
	}
	.in-box p{
		font-size: 12px;
	}
	.in-box a{
		font-size: 13px;
	}
	.owl-next i, .owl-prev i{
		font-size: 13px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.section{
		padding: 70px 0px;
	}
	.message-box ul li{
		font-size: 12px;
	}
	.inner-cont-box{
		margin-bottom: 30px;
	}
	.services-inner-box h2{
		font-size: 18px;
	}
	.box .title{
		font-size: 22px;
	}
	.post-info h4{
		font-size: 18px;
	}
	.post-thumb{
		padding: 20px;
	}
	.footer-links a{
		font-size: 13px;
	}
	.footer-distributed .footer-company-name{
		font-size: 12px;
	}
}
@media (max-width: 767px) {
	#mainNav {
		background-color: #ffffff;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(0,0,0);
		border-color: rgba(0,0,0);
		font-size: 17px;
	}	
	.navbar-dark .navbar-nav .nav-link{
		padding: 10px 15px;
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.in-box h2{
		font-size: 24px;
	}
	.in-box{
		padding: 20px;
	}
	.slider-img-full{
		height: 100%;
	}
	.slider-img-full img{
		height: 100%;
	}
	.in-box p{
		font-size: 12px;
	}
	.in-box a{
		font-size: 13px;
	}
	.owl-next i, .owl-prev i{
		font-size: 13px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.section{
		padding: 70px 0px;
	}
	.message-box ul li{
		font-size: 12px;
	}
	.inner-cont-box{
		margin-bottom: 30px;
	}
	.services-inner-box h2{
		font-size: 18px;
	}
	.box .title{
		font-size: 22px;
	}
	.post-info h4{
		font-size: 18px;
	}
	.post-thumb{
		padding: 20px;
	}
	.footer-links a{
		font-size: 13px;
	}
	.footer-distributed .footer-company-name{
		font-size: 12px;
	}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		background-color: #ffffff;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(0,0,0);
		border-color: rgba(0,0,0);
		font-size: 17px;
	}	
	.navbar-dark .navbar-nav .nav-link{
		padding: 10px 15px;
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 10px 17px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	
	
	.in-box h2{
		font-size: 24px;
	}
	.in-box{
		padding: 20px;
	}
	.slider-img-full{
		height: 100%;
	}
	.slider-img-full img{
		height: 100%;
	}
	.in-box p{
		font-size: 12px;
	}
	.in-box a{
		font-size: 13px;
	}
	.owl-next i, .owl-prev i{
		font-size: 13px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	.section{
		padding: 70px 0px;
	}
	.message-box ul li{
		font-size: 12px;
	}
	.inner-cont-box{
		margin-bottom: 30px;
	}
	.services-inner-box h2{
		font-size: 18px;
	}
	.box .title{
		font-size: 22px;
	}
	.post-info h4{
		font-size: 18px;
	}
	.post-thumb{
		padding: 20px;
	}
	.footer-links a{
		font-size: 13px;
	}
	.footer-distributed .footer-company-name{
		font-size: 12px;
	}
	
}

.portfolio__button-group .mixitup-control-active{
  background-color: #063e79;
  color: #fff;
}


.portfolio .button{
  display: inline-block;
  padding: 12px 45px 8px 45px;
  margin-bottom: 20px;
}

.portfolio__button-group{
  text-align: center;
  margin-bottom: 60px;
}

.portfolio__single-section{
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

}

.portfolio__single-section__image{
 display: block;
 height: auto;
}

.portfolio__single-section h4{
 font-size: 20px;
 font-weight: ;
 color: #fff;
}

.portfolio__single-section p{
 font-weight: 15px;
 color: #fff;
 font-weight: ;
}

.portfolio__single-section__search-icon{
 position: absolute;
 left: 45%;
 top: 50%;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}

.portfolio__single-section .overlay-content{
  position: absolute;
  bottom: 25px;
  margin-left: 15px;
  z-index: 10;
}

.portfolio__single-section__overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: rgba(75, 44, 137, .9);
  border-radius: 10px;
}

.portfolio__single-section:hover .portfolio__single-section__overlay{
  opacity: 1;
}

.gutters-40.row{
  margin-right: -20px;
  margin-left: -20px;
}

.gutters-40 > [class^="col-"], .gutters-40 > [class^="col-"]{
  padding-right: 20px;
  padding-left: 20px;
}

@media(max-width: 991px) {
	.portfolio__single-section{
		max-width: 340px;
		margin-right: auto;
		margin-left: auto;
	}

}



.page-section{
	margin-top: 100px;
	margin-bottom: 100px;
}

.page-section__title{
  font-size: 35px;
  color: black;
  text-align: center;
}

.page-section__title--white{
  color: #fff;
}

.page-section__title-style{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.page-section__paragraph{
  font-size: 15px;
  color: #5d5d5d;
  max-width: 540px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.page-section__paragraph--white{
  color: #fff;
  line-height: 1.8;
}